<!-- Navbar Start -->
<div class="text-center mx-auto md:ml-5 px-6 grid grid-flow-col grid-cols-2 gap-10 w-96">
    <a href="/home" class="mt-10 w-full col-span-1 mr-5 text-lg rounded-full bg-blue-500 px-4 py-1 uppercase shadow-sm hover:shadow-xl text-white cursor-pointer items-center transition transform duration-200 hover:-translate-y-2 hover:scale-110">Home</a>
    <a href="/aboutus" class="mt-10 w-full col-span-1 text-lg rounded-full bg-blue-500 px-4 py-1 uppercase shadow-sm hover:shadow-xl text-white cursor-pointer items-center transition transform duration-200 hover:-translate-y-2 hover:scale-110">About Us</a>
</div>
<!-- Navabar ends -->