<div class="flex flex-no-wrap h-full">
    <div class="w-full sm:relative bg-blue-900 shadow flex-col justify-between sm:flex">
        <div class="h-20 w-full flex text-white border-b-2 border-gray-100">
            <!-- Place the logo here -->
            <div class="mx-auto text-2xl uppercase mt-5">
                Dashboard
            </div>
        </div>
        <ul class="mt-12 h-full text-center px-10">
            <li>
                <a href="/predict" class="text-lg block hover:bg-white px-3 py-2 transition transform duration-200 hover:shadow-xl hover:-translate-y-2 w-full mx-auto text-white hover:text-blue-900 hover:scale-110 cursor-pointer mb-6">Predict</a>
            </li>
            <li>
                <a href="/compare" class="text-lg block hover:bg-white px-3 py-2 transition transform duration-200 hover:shadow-xl hover:-translate-y-2 w-full mx-auto text-white hover:text-blue-900 hover:scale-110 cursor-pointer mb-6">Compare</a>
            </li>
            <li>
                <a href="/pastperformance" class="text-lg block hover:bg-white px-3 py-2 transition transform duration-200 hover:shadow-xl hover:-translate-y-2 w-full mx-auto text-white hover:text-blue-900 hover:scale-110 cursor-pointer mb-6">Past Performance</a>
            </li>
        </ul>
    </div>
</div>