{% extends 'layout.html' %}

{% block title %}About Us Page{% endblock %}

{% block body %}
    <div class="flex flex-col h-screen">
      <div class="bg-gray-100 pb-5">
        {% include 'includes/_navbar.html' %}
      </div>
      <h1 class="text-5xl text-gray-800 text-center font-extrabold uppercase py-5">About Us</h1>
      <div class="w-5/6 sm:w-2/3 lg:w-1/2 md:flex mx-auto mt-5 mb-16 sm:my-10 shadow-2xl flex-grow">
        <div class="h-48 w-full md:h-auto md:w-1/3 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://image.freepik.com/free-vector/tiny-people-stock-traders-laptop-with-graph-chart-buy-sell-shares-stock-market-index-stockbroking-company-stock-exchange-data-concept_335657-1160.jpg')">
        </div>
        <div class="border-r border-b border-l border-grey-light md:border-l-0 md:border-t md:border-grey-light bg-gray-50 rounded-b md:rounded-b-none md:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-black font-bold text-xl mb-2">Who are we?</div>
            <p class="text-grey-darker text-xl">We are a Team of 4 consisting <span class="font-bold">Vishal, Shivam, Rohan and Santanu</span> . We were mentored by <span class="font-bold">Riya Gupta</span> during this project. This project was made under the Skill It Up 2.0 Program conducted by <span class="font-bold">DSC VJTI and COC VJTI.</span><br>
            This project is just for learning purpose and we in no means recommend to use our app for any investment purpose. Any loss by any user would not be considered as our fault.
            </p>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      <div style="background: url('../static/src/assets/bg-pat.png') #262527 repeat;">
        <div class="w-full sm:w-2/3 mx-auto">
          <div class="w-full grid gap-10 grid-cols-2 mb-4">
            <div class="w-full sm:w-3/5 mx-auto mt-5 pl-3">
              <a href="/predict">
                <div class="py-2 text-white text-lg hover:translate-x-2 transform transition duration-200">> Predict</div>
              </a>
              <a href="/compare">
                <div class="py-2 text-white text-lg hover:translate-x-2 transform transition duration-200">> Compare</div>
              </a>
              <a href="/pastperformance">
                <div class="py-2 text-white text-lg hover:translate-x-2 transform transition duration-200">> Past Performance</div>
              </a>
            </div>
            <div class="w-40 mx-auto mt-5">
              <a href="/predict">
                <div class="py-2 text-white text-lg mb-5 text-center rounded-full bg-blue-500 hover:translate-x-2 transform transition duration-200">Get Started</div>
              </a>
              <a href="/aboutus">
                <div class="py-2 text-white text-lg text-center rounded-full bg-blue-500 hover:translate-x-2 transform transition duration-200">About Us</div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center text-white text-xl font-semibold">
          Made with ❤️
        </div>
      </div>
    </div>
{% endblock %}