<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='src/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='src/style.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="p-0 m-0">{% block body %}{% endblock %}</div>

    <script src="{{ url_for('static',filename='src/script.js') }}"></script>
</body>
</html>